<div class="wrapper">
    <div class="container cart">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form [formGroup]="orderSearchForm">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12" *ngIf="accountType == isAccountTypeShopAndPersonal">
                                <div class="form-group">
                                    <div class="flex">
                                        <div class="form-check margin-b-0">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="true"
                                                    [(ngModel)]="isPersonalOrdersOnly"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (change)="fetchPersonalItems()">
                                                Personal orders only
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 shop" [ngClass]="{'disabled':isPersonalOrdersOnly}"
                                *ngIf="accountType == isAccountTypeShopOnly || accountType == isAccountTypeShopAndPersonal">
                                <label>Shop</label>
                                <select class="browser-default custom-select form-control" formControlName="shopId"
                                    (change)="onShopChange()" id="shopId">
                                    <option selected value="">All shops</option>
                                    <option *ngFor="let shop of shops" value="{{shop.id}}">
                                        {{shop.name|titlecase}},&nbsp;{{shop.city.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label>Status</label>
                                <select class="browser-default custom-select form-control" formControlName="status"
                                    id="status">
                                    <option value="">Any</option>
                                    <option value="1">Not collected</option>
                                    <option value="2">Collected</option>
                                    <option value="3">Received</option>
                                    <option value="4">Cancelled</option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label>Date</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date"
                                        ngbDatepicker #d="ngbDatepicker" [ngModelOptions]="{standalone: true}" />
                                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                                        type="button"></button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <label>Order No.</label>
                                <input class=" form-control" type="text" placeholder="Order No"
                                    formControlName="orderNo">
                            </div>
                            <div class="col-sm-4 col-xs-12"
                                [title]="isProductsListDisabled?'Select a shop to show the products':''">
                                <label>
                                    Product
                                    {{
                                    (isProductsListDisabled && !isPersonalOrdersOnly)
                                    ?'(Select a shop to show the products)'
                                    :''
                                    }}
                                </label>
                                <ng-select class="custom form-control browser-default" [items]="products"
                                    [disabled]="isProductsListDisabled" bindLabel="name" bindValue="id"
                                    (change)="onChangeProduct($event)" [(ngModel)]="selectedProduct"
                                    [ngModelOptions]="{standalone: true}">
                                </ng-select>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label>Customer phone (9 digits)</label>
                                <input class=" form-control" type="text" placeholder="702223344"
                                    formControlName="phone">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div style="display: block;">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-warning btn float-right" (click)="filterOrders()"
                        replaceText="Searching" [spinnerButton]="isSearching">Search</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12" *ngIf="orderItems.length>0">
                <p>{{totalCount}} {{totalCount == 1 ? "order":"orders"}} found.</p>
                <div *ngFor="let orderItem of orderItems">
                    <div class="card-normal no-decorations mb-10" [ngClass]="{'item_due ': orderItem.isDue}">
                        <div class="row product">
                            <div class="col-md-4">
                                <h4 class="margin-b-0">
                                    {{orderItem.name}}
                                </h4>
                            </div>
                            <div class="col-md-4">
                                <span title="Order no." class="font-bold">
                                    Order no. #{{orderItem.id}}
                                </span>
                                <span class="status-label not-collected" *ngIf="orderItem.status == 1">
                                    Not Collected
                                </span>
                                <span class="status-label collected" *ngIf="orderItem.status == 2">
                                    Collected
                                </span>
                                <span class="status-label received" *ngIf="orderItem.status == 3">
                                    Received
                                </span>
                                <span class="status-label cancelled" *ngIf="orderItem.status == 4">
                                    Cancelled
                                </span>
                            </div>
                            <div class="col-md-4">
                                <p class="margin-b-0 text-right">
                                    {{orderItem.customer_name}} <a
                                        href="tel:{{orderItem.customer_phone}}">{{orderItem.customer_phone}}</a></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row product">
                            <div class="col-md-2">
                                <div style="background-image: url('{{imagePath + orderItem.location}}');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            width: 100%;height: 100px;">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p>Quantity: {{orderItem.quantity}}</p>
                                <p class="price">{{orderItem.quantity * orderItem.price| currency:"Rs. "}}</p>
                                <p *ngIf="orderItem.duration">Duration: {{orderItem.duration}} month(s)</p>
                                <p *ngIf="orderItem.duration" [ngClass]="{'bold':orderItem.isDue}">
                                    Due date: {{orderItem.dueDate | date: 'yyyy MMMM dd hh.mm a'}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p *ngIf="!isPersonalOrdersOnly && orderItem.shop_name">
                                    Shop: {{orderItem.shop_name +', '+orderItem.shop_city_name}}
                                </p>
                                <p>
                                    Order date: {{orderItem.order_created_at | date: 'yyyy MMMM dd hh.mm a'}}</p>
                                <p *ngIf="orderItem.cancelled_at">
                                    Cancelled date: {{orderItem.cancelled_at | date: 'yyyy MMMM dd hh.mm a'}}</p>
                                <div *ngIf="orderItem.collected_at">
                                    <span>
                                        Collected date: {{orderItem.collected_at | date: 'yyyy MMMM dd hh.mm a'}}
                                    </span>
                                    <br>
                                </div>
                                <p *ngIf="orderItem.note"><b>Customer Note:</b> {{orderItem.note}}</p>
                                <p *ngIf="orderItem.admin_note"><b>Admin Note:</b> {{orderItem.admin_note}}</p>
                            </div>
                            <!-- un-collected filter -->
                            <div class="col-md-2" *ngIf="params.status == 1">
                                <button type="button" class="btn btn-success btn-sm" *ngIf="orderItem.status == 1"
                                    style="width: 100%;margin-bottom:2px" #updateOrderModal
                                    (click)="openUpdateOrderModal(content, orderItem)">
                                    Collected by customer
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" style="width: 100%;"
                                    #cancelOrderModal (click)="openCancelOrderModal(contentCancel, orderItem)"
                                    *ngIf=" orderItem.status == 1">
                                    Mark as cancelled
                                </button>
                            </div>
                            <!-- collected filter -->
                            <div class="col-md-2" *ngIf="params.status == 2">
                                <!-- orderitem db status collected -->
                                <button type="button" class="btn btn-default btn-sm" *ngIf="orderItem.duration"
                                    style="width: 100%;margin-bottom:2px" #receiveOrderModal
                                    (click)="openOrderItemReceivedModal(contentReceived, orderItem)">
                                    Mark as received
                                </button>
                                <button type="button" class="btn btn-danger btn-sm"
                                    style="width: 100%;margin-bottom:2px" #refundOrderModal
                                    (click)="openRefundOrderModal(contentRefund, orderItem)">
                                    Refund
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <ngb-pagination [collectionSize]="totalCount" [pageSize]="perPage" [(page)]="page"
                        (pageChange)="onClickSearch($event)" [rotate]="true"></ngb-pagination>
                </div>
            </div>
            <div class="col-md-12" *ngIf="orderItems.length==0">
                <h3>No orders found.</h3>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-center">Mark item as collected</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label class="form-check-label">Add a note: (optional)</label>
        <textarea type="text" class="form-control" [(ngModel)]="orderItemNote" [ngModelOptions]="{standalone: true}"
            id="note" rows="4"></textarea>
    </div>
    <div class="modal-footer text-center">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="markOrderItemAsCollected()"
                replaceText="Submitting" [spinnerButton]="isMarkAsCollectedProcessing">Mark as collected</button>
        </div>
    </div>
</ng-template>

<ng-template #contentReceived let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-center">Mark item as received</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <div style="background-image: url('{{imagePath + selectedOrderItem.location}}');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            width: 100%;height: 100px;">
                </div>
            </div>
            <div class="col-sm-8">
                <p class="price">{{selectedOrderItem.quantity * selectedOrderItem.price| currency:"Rs. "}}</p>
                <p *ngIf="selectedOrderItem.duration">Duration: {{selectedOrderItem.duration}} month(s)</p>
                <p *ngIf="selectedOrderItem.duration" [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Order No: {{selectedOrderItem.id}}
                </p>
                <p *ngIf="selectedOrderItem.duration" [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Order date: {{selectedOrderItem.order_created_at | date: 'yyyy MMMM dd hh.mm a'}}
                </p>
                <p *ngIf="selectedOrderItem.duration" [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Due date: {{selectedOrderItem.dueDate | date: 'yyyy MMMM dd hh.mm a'}}
                </p>
            </div>
        </div>
        <div class="row" *ngIf="selectedOrderItem.isDue">
            <div class="col-sm-12">
                <hr>
                <p>This item is overdue by {{selectedOrderItem.dueDaysCount}} days.</p>
                <p>You can charge for {{selectedOrderItem.dueMonthsCount}} month(s).</p>
                <hr>
                <div class="row">
                    <div class="col-sm-12 radio">
                        <div class="form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input form-control" type="radio" value="charge"
                                    name="chargeStatus" checked [(ngModel)]="chargeStatus">
                                Charged for due item
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input form-control" type="radio" value="not_charge"
                                    name="chargeStatus" [(ngModel)]="chargeStatus">
                                Did not charge
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="chargeStatus == 'charge'">
                    <div class="col-sm-6">
                        Amount: (Rs.)
                        <input class="form-control" type="number" [(ngModel)]="chargedAmount">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="markAsReceived()" replaceText="Updating"
                [spinnerButton]="isMarkAsReceivedProcessing">Received</button>
        </div>
    </div>
</ng-template>
<ng-template #contentCancel let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-center">Cancel order</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <div style="background-image: url('{{imagePath + selectedOrderItem.location}}');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            width: 100%;height: 100px;">
                </div>
            </div>
            <div class="col-sm-8">
                <p class="price">Price: {{selectedOrderItem.price| currency:"Rs. "}}</p>
                <p class="quantity">Quantity: {{selectedOrderItem.quantity}}</p>
                <p *ngIf="selectedOrderItem.duration">Duration: {{selectedOrderItem.duration}} month(s)</p>
                <p [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Order No: {{selectedOrderItem.id}}
                </p>
                <p [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Order date: {{selectedOrderItem.order_created_at | date: 'yyyy MMMM dd hh.mm a'}}
                </p>
                <p *ngIf="selectedOrderItem.duration" [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Due date: {{selectedOrderItem.dueDate | date: 'yyyy MMMM dd hh.mm a'}}
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <p class="price">
                    Paid amount: {{(selectedOrderItem.duration ? selectedOrderItem.duration * selectedOrderItem.price :
                    selectedOrderItem.quantity * selectedOrderItem.price)| currency:"Rs. "}}
                </p>
                <p *ngIf="selectedOrderItem.payment_type == 'online'">
                    <b>
                        After cancelling the order, it will take 5-10 business days to trasfer the money back to
                        customer's account.
                    </b>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">Close</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="submit" class="btn btn-success btn-link" replaceText="Processing" (click)="cancelOrder()"
                [spinnerButton]="isCancelling">Cancel order</button>
        </div>
    </div>
</ng-template>


<ng-template #contentRefund let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-center">Refund order</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <div style="background-image: url('{{imagePath + selectedOrderItem.location}}');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            width: 100%;height: 100px;">
                </div>
            </div>
            <div class="col-sm-8">
                <p class="price">Price: {{selectedOrderItem.price| currency:"Rs. "}}</p>
                <p class="quantity">Quantity: {{selectedOrderItem.quantity}}</p>
                <p *ngIf="selectedOrderItem.duration">Duration: {{selectedOrderItem.duration}} month(s)</p>
                <p [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Order No: {{selectedOrderItem.id}}
                </p>
                <p [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Order date: {{selectedOrderItem.order_created_at | date: 'yyyy MMMM dd hh.mm a'}}
                </p>
                <p *ngIf="selectedOrderItem.duration" [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Due date: {{selectedOrderItem.dueDate | date: 'yyyy MMMM dd hh.mm a'}}
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <p class="price">
                    Paid amount: {{ selectedOrderItem.total_paid_amount | currency:"Rs. "}}
                </p>
                <p *ngIf="selectedOrderItem.online_refunds > 0">
                    Refunded amount by online: {{ selectedOrderItem.online_refunds | currency:"Rs. "}}
                </p>
                <p>
                    <b>
                        Refundable amount:
                        {{ selectedOrderItem.total_paid_amount - selectedOrderItem.online_refunds | currency:"Rs. "}}
                    </b>
                </p>
                <div *ngIf="selectedOrderItem.refundable_amount > 0">
                    <hr>
                    <label class="form-label"> Enter amount to refund
                        <input class="form-control form-input" type="number" [(ngModel)]="refundAmount"
                            [ngModelOptions]="{standalone: true}">
                    </label>
                    <br>
                    <span class="text-danger form-error" *ngIf="isInvalidRefundAmount">
                        Refund amount should be less than refundable amount
                    </span>
                    <p>
                        After refunding, it will take 5-10 business days to trasfer the money back to customer's
                        account.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">Close</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="submit" class="btn btn-success btn-link" replaceText="Processing" (click)="refundOrder()"
                [attr.disabled]="true" [spinnerButton]="isRefunding">Refund</button>
        </div>
    </div>
</ng-template>