@import "~bootstrap-icons/font/bootstrap-icons.css";

.ng-select.custom ::ng-deep .ng-dropdown-panel {

    margin-top: 15px;
    margin-left: -10px;
    color: #66615b;
    background-color: white;
    opacity: 0;
    border: 1px solid #66615b;
    border-right: none;
    box-shadow: 1px 1px 1px black;
}

.ng-select.custom ::ng-deep .ng-dropdown-panel ::ng-deep .ng-option {
    padding-bottom: 5px;

    :hover {
        color: white;
        background-color: #fd7e14;
    }
}

.ng-select.custom ::ng-deep .ng-dropdown-panel ::ng-deep .ng-option .ng-option-label {
    display: block;
    padding-left: 5px;
}

.ng-select.custom ::ng-deep .ng-clear {
    font-size: 26px;
}

button.bi.bi-calendar3 {
    background-color: lightslategrey;
    border: none;
}

.shop-label {
    @media (max-width: 767px) {
        width: 40%;
    }

    width: 50%;
}

.shop.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.status-label {
    font-size: 10px;
    padding: 3px;
    border-radius: 3px;
    line-height: 1;
    float: right;
    margin-bottom: 5px;

    &.not-collected {
        background: greenyellow;
    }

    &.collected {
        background: skyblue;
    }

    &.received {
        background: yellow;
    }

    &.cancelled {
        background: coral;
    }
}