<div class="wrapper">
    <div class="container cart">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form [formGroup]="orderSearchForm">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12" *ngIf="accountType == isAccountTypeShopAndPersonal">
                                <div class="form-group">
                                    <div class="flex">
                                        <div class="form-check margin-b-0">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="true"
                                                    [(ngModel)]="isPersonalOrdersOnly"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (change)="fetchPersonalItems()">
                                                Personal orders only
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 shop" [ngClass]="{'disabled':isPersonalOrdersOnly}"
                                *ngIf="accountType == isAccountTypeShopOnly || accountType == isAccountTypeShopAndPersonal">
                                <label>Shop</label>
                                <select class="browser-default custom-select form-control" formControlName="shopId"
                                    (change)="onShopChange()" id="shopId">
                                    <option selected value="">All shops</option>
                                    <option *ngFor="let shop of shops" value="{{shop.id}}">
                                        {{shop.name|titlecase}},&nbsp;{{shop.city.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label>Status</label>
                                <select class="browser-default custom-select form-control" formControlName="status"
                                    id="status">
                                    <option [selected]="true" value="not-collected">Not collected</option>
                                    <option value="collected">Collected</option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label>Date</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date"
                                        ngbDatepicker #d="ngbDatepicker" [ngModelOptions]="{standalone: true}" />
                                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                                        type="button"></button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <label>Order No.</label>
                                <input class=" form-control" type="text" placeholder="Order No"
                                    formControlName="orderNo">
                            </div>
                            <div class="col-sm-4 col-xs-12"
                                [title]="isProductsListDisabled?'Select a shop to show the products':''">
                                <label>
                                    Product
                                    {{
                                    (isProductsListDisabled && !isPersonalOrdersOnly)
                                    ?'(Select a shop to show the products)'
                                    :''
                                    }}
                                </label>
                                <ng-select class="custom form-control browser-default" [items]="products"
                                    [disabled]="isProductsListDisabled && !isPersonalOrdersOnly" bindLabel="name"
                                    bindValue="id" [(ngModel)]="selectedProduct" [ngModelOptions]="{standalone: true}">
                                </ng-select>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label>Customer phone (9 digits)</label>
                                <input class=" form-control" type="text" placeholder="702223344"
                                    formControlName="phone">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div style="display: block;">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-warning btn float-right" (click)="filterOrders()"
                        replaceText="Searching" [spinnerButton]="isSearching">Search</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12" *ngIf="orderItems.users.length>0">
                <div class="card-normal no-decorations mb-40" *ngFor="let user of orderItems.users">
                    <div class="row">
                        <div class="col-md-6">
                            <h4><b>{{user.name}}</b></h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="tel:{{user.phone}}">{{user.phone}}</a>
                            <!-- users don't have a location or address -->
                            <!-- <p>{{user.address}}</p> -->
                            <!-- <a href="https://www.google.com/maps/dir/{{user.latitude}},{{user.longitude}}"
                                target="_blank">
                                <button type="button" class="btn btn-outline-info btn-sm">
                                    Open item location in Google map
                                </button>
                            </a> -->
                        </div>
                    </div>
                    <br>
                    <div *ngFor="let orderItem of user.orderItems">
                        <div class="card-normal no-decorations" [ngClass]="{'item_due ': orderItem.isDue}">
                            <div class="row product">
                                <div class="col-md-12">
                                    <h4>{{orderItem.name}}</h4>
                                </div>
                            </div>
                            <div class="row product">
                                <div class="col-md-2">
                                    <div style="background-image: url('{{imagePath + orderItem.location}}');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            width: 100%;height: 100px;">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <p>Quantity: {{orderItem.quantity}}</p>
                                    <p class="price">{{orderItem.quantity * orderItem.price| currency:"Rs. "}}</p>
                                    <p *ngIf="orderItem.duration">Duration: {{orderItem.duration}} month(s)</p>
                                    <p *ngIf="orderItem.duration" [ngClass]="{'bold':orderItem.isDue}">
                                        Due date: {{orderItem.dueDate | date: 'yyyy MMMM dd hh.mm a'}}
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p *ngIf="!isPersonalOrdersOnly">Shop: {{orderItem.shop_name_address}}</p>
                                    <p>Order No: {{orderItem.order_id}}</p>
                                    <span>
                                        Order date: {{orderItem.order_created_at | date: 'yyyy MMMM dd hh.mm a'}}</span>
                                    <br>
                                    <div *ngIf="orderItem.collected_at">
                                        <span>
                                            Collected date: {{orderItem.collected_at | date: 'yyyy MMMM dd hh.mm a'}}
                                        </span>
                                        <br>
                                    </div>
                                    <p *ngIf="orderItem.note"><b>Customer Note:</b> {{orderItem.note}}</p>
                                    <p *ngIf="orderItem.admin_note"><b>Admin Note:</b> {{orderItem.admin_note}}</p>
                                    {{params.status}}
                                </div>
                                <!-- un-collected filter -->
                                <div class="col-md-2" *ngIf="params.status == 1">
                                    <button type="button" class="btn btn-outline-success btn-sm"
                                        *ngIf=" orderItem.status == 1" style="width: 100%;margin-bottom:2px"
                                        #updateOrderModal (click)="openUpdateOrderModal(content, orderItem)">
                                        Mark as collected
                                    </button>
                                    <button type="button" class="btn btn-outline-danger btn-sm" style="width: 100%;"
                                        #cancelOrderModal (click)="openCancelOrderModal(contentCancel, orderItem)"
                                        *ngIf=" orderItem.status == 1">
                                        Mark as cancelled
                                    </button>
                                </div>
                                <!-- collected filter -->
                                <div class="col-md-2" *ngIf="params.status == 2">
                                    <!-- orderitem db status collected -->
                                    <button type="button" class="btn btn-outline-success btn-sm"
                                        *ngIf="orderItem.status == 2" style="width: 100%;margin-bottom:2px"
                                        #updateOrderModal (click)="openUpdateOrderModal(content, orderItem)">
                                        Mark as received
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="orderItems.users.length==0">
                <h3>No Orders Found.</h3>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-center">Order</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label class="form-check-label">Note:</label>
        <textarea type="text" class="form-control" [(ngModel)]="orderItemNote" [ngModelOptions]="{standalone: true}"
            id="note" rows="4"></textarea>
    </div>
    <div class="modal-footer text-center">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="markOrderItemAsCollected()"
                replaceText="Submitting" [spinnerButton]="isMarkAsCollectedProcessing">Mark as collected</button>
        </div>
    </div>
</ng-template>

<ng-template #contentCancel let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-center">Cancel Order</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul>
            <li>
                <b>Shop:</b> If your purpose is to list your shop items, you can use "Shop" account type.
            </li>
            <li>
                <b>Personal:</b> If you only have personal items to list, use "Personal" account type.
            </li>
        </ul>
        <p>Note: If you wish to list both Shop items and personal items, please select both account types.</p>
    </div>
    <div class="modal-footer text-center" style="display: inline-block;">
        <div class="">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">OK</button>
        </div>
    </div>
</ng-template>