<div class="wrapper">
    <div class="container cart">
        <h2 class="page-title"><b>Cart</b></h2>
        <div *ngIf="products.length > 0 && isLoaded">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-normal no-decorations">
                        <div *ngFor="let product of products; let i = index">
                            <div class="row product">
                                <div class="col-md-3 cursor-pointer" (click)="editProduct(product,i)">
                                    <div style="background-image: url('{{imagePath + product.data.files[0].location}}');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            width: 100%;height: 100px;">
                                    </div>
                                </div>
                                <div class="col-md-4 cursor-pointer" (click)="editProduct(product,i)">
                                    <h5><b>{{product.data.name | titlecase}}</b></h5>
                                    <p class="color-grey">
                                        <i _ngcontent-uob-c127="" class="nc-icon nc-shop"></i>&nbsp;
                                        {{product.data.is_a_shop_listing?product.data.shop.name:product.data.user.name}}
                                    </p>
                                    <p class="price">{{product.priceInText}}</p>
                                    <p *ngIf="product.note"><b>Note:</b> {{product.note}}</p>

                                </div>
                                <div class="col-md-4">
                                    <p>Quantity: {{product.quantity}}</p>
                                    <div *ngIf="product.data.rentable_item">
                                        <p>Duration: {{product.duration}} month(s)</p>
                                    </div>
                                    <p class="">Sub Total:</p>
                                    <p class="price">{{product.subTotal| currency:"Rs. "}}</p>
                                </div>
                                <div class="col-md-1" style="padding-bottom: 50px;">
                                    <span title="Delete" class="text text-danger pointer delete"
                                        (click)="removeProduct(product)">
                                        <i class="fa fa-2x fa-trash-o"></i></span>
                                    <span title="Edit" class="text text-warning pointer edit"
                                        (click)="editProduct(product,i)">
                                        <i class="fa fa-2x fa-pencil-square-o"></i></span>
                                </div>
                            </div>
                            <hr *ngIf="i+1 != products.length">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-normal no-decorations">
                        <h3>Order Summary</h3>
                        <div class="flex">
                            <h4 class="price m-0 ">Total</h4>
                            <h4 class="m-0 price float-right" style="width: -webkit-fill-available;text-align: right;">
                                Rs. {{total | currency:'':''}}</h4>
                        </div>
                        <br>
                        <button *ngIf="isLoggedInUser && isCustomer" class="btn btn-outline-warning btn-sm full-width"
                            #openPaymentModalId (click)="openPaymentModal(content)">Checkout</button>
                        <br>
                        <button *ngIf="!(isLoggedInUser && isCustomer)"
                            class="btn btn-outline-warning btn-sm full-width" routerLink="/login"
                            [queryParams]="{redirect: 'cart'}">Login before checkout</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="products.length == 0">
            There're no products in your cart. <a href="/">Shop now.</a>
        </div>
    </div>
</div>
<ng-template #content2 let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-center">Create</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Please note that we are not delivering medicine or medical equipment due to health and security issues. You
            can reserve
            your product by paying now and collect later at the shop.</p>
        <br>
        <stripe-card #stripeCard (catch)="onStripeError($event)" [(complete)]="cardDetailsFilledOut"
            [(invalid)]="invalidError" (cardMounted)="cardCaptureReady = 1"
            (paymentMethodChange)="setPaymentMethod($event)" (tokenChange)="setStripeToken($event)"
            (sourceChange)="setStripeSource($event)"></stripe-card>
        <img src="../../../assets/img/payment-logo.png" width="250">
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" replaceText="Processing..."
                [spinnerButton]="isProcessing">Pay</button>
        </div>
    </div>
</ng-template>
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-center">Pay now</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Please note that we are not delivering medicines or medical equipments due to health issues. You can reserve
            your product by paying and collect later at the shop.</p>
        <br>
        <!-- <stripe-card #stripeCard (catch)="onStripeError($event)" [(complete)]="cardDetailsFilledOut"
            [(invalid)]="invalidError" (cardMounted)="cardCaptureReady = 1"
            (paymentMethodChange)="setPaymentMethod($event)" (tokenChange)="setStripeToken($event)"
            (sourceChange)="setStripeSource($event)"></stripe-card> -->
        <div id="card-element"></div>
        <div id="card-errors" role="alert"></div>
        <img src="../../../assets/img/payment-logo.png" width="250">
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="submit" class="btn btn-success btn-link" replaceText="Processing" (click)="pay()"
                [spinnerButton]="isProcessing">Pay</button>
        </div>
    </div>
</ng-template>