<div class="wrapper shops-page">
    <div class="container-fluid">
        <div class="title row" style="margin-bottom:20px;">
            <div class="col-sm-6">
                <h2 class="page-title"><b>Shops</b></h2>
            </div>
            <div class="col-sm-6">
                <div class="card-normal" style="float:right;padding:0;">
                    <div class="buttons">
                        <button type="button" class="btn btn-outline-success btn-sm" style="width: 100%;"
                            #openCreateModalId (click)="openCreateModal(content)">ADD NEW SHOP</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="shops">
            <div *ngIf="isLoading">Loading...</div>
            <div *ngIf="shops.length==0 && !isLoading">No shops found.</div>
            <ul *ngIf="shops.length>0 && !isLoading">
                <li *ngFor="let shop of shops;" style="width: 300px;">
                    <div class="card-normal">
                        <div class="shops">
                            <img *ngIf="shop.file" width="100%" [src]="imagePath+shop.file.location" alt="Shop Image"
                                class="img-thumbnail img-responsive">
                            <img *ngIf="!shop.file" width="120" src="assets/img/default-shop.png" alt="Shop Image"
                                class="img-thumbnail img-responsive">
                            <p style="margin-top: 15px;"><b>{{shop.name|titlecase}}</b></p>
                            <p>{{shop.address|titlecase}}</p>
                            <p>{{shop.city.name|titlecase}}</p>

                            <div class="text-left" *ngIf="shop.shop_admins.length>0">
                                <hr>
                                <p><b>Assigned Shop Admins</b></p>
                                <ul class="block">
                                    <li class="margin-b-0" *ngFor="let shopAdmin of shop.shop_admins">
                                        {{shopAdmin.name}}
                                    </li>
                                </ul>
                            </div>
                            <hr>

                            <div class="buttons">
                                <button type="button" class="btn btn-outline-info btn-sm"
                                    (click)="openEditModal(content,shop)">Edit</button>
                                <button type="button" class="btn btn-outline-danger btn-sm"
                                    (click)="deleteShop(shop.id)">Delete</button>
                            </div>
                            <button type="button" class="btn btn-outline-warning btn-sm" style="margin-top: 7px;"
                                (click)="showProducts(shop.id)">View products</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-center" *ngIf="isCreatingProcess">Create new shop</h5>
        <h5 class="modal-title text-center" *ngIf="!isCreatingProcess">Update shop</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" *ngIf="errorMessages" [innerHtml]="errorMessages"></div>
        <form [formGroup]="shopForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" ngbAutofocus class="form-control" formControlName="name" id="name">
            </div>
            <div class="form-group">
                <label>Select location (Drag and drop the red marker <i style="color: red;"
                        class="fa fa-map-marker"></i> on your location)</label>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                    [zoomControl]="true" [scrollwheel]="null" [gestureHandling]="'cooperative'"
                    (mapClick)="mapClicked($event)">
                    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"
                        (dragEnd)="markerDragEnd($event)">
                    </agm-marker>
                </agm-map>
            </div>
            <div class="form-group" [ngClass]="{'has-danger':isDistrictError}">
                <label>District</label>
                <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="districtName"
                    [ngModelOptions]="{standalone: true}" (selectItem)="selectedDistrict($event)"
                    [ngbTypeahead]="searchDistricts" (focus)="focus$.next($any($event).target.value)"
                    (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead"
                    (focusout)="focusOut($event)" />
                <div class="form-control-feedback" *ngIf="isDistrictError">No district selected. Please select one.
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-danger':isCityError}">
                <label>Cities</label>
                <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="cityName"
                    disabled="{{cities.length==0}}" [ngModelOptions]="{standalone: true}"
                    (selectItem)="selectedCity($event)" [ngbTypeahead]="searchCities"
                    (focus)="focusCities$.next($any($event).target.value)"
                    (click)="clickCities$.next($any($event).target.value)" #instance="ngbTypeahead"
                    (focusout)="focusOutCities($event)" />
                <div class="form-control-feedback" *ngIf="isCityError">No city selected. Please select one.</div>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" formControlName="address" id="address"
                    placeholder="165/B, Highlevel Road, Kirulapona">
            </div>
            <div class="form-group">
                <label>WhatsApp number <img src="../../../assets/img/WhatsApp.png" width="25">
                    <p class="font-s-10">(Enter 9 numbers without 0. Ex: 71222333)</p>
                </label>
                <div class="flex">
                    +94&nbsp;
                    <div style="width: 100%;" class="form-group">
                        <input type="text" class="form-control" formControlName="phone" id="phone"
                            placeholder="Enter 9 digits phone number" (change)="test()">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Select image for the shop</label>
                <br>
                <input type="file" accept="image/*" (change)="fileChangeEvent($event)" />
                <br>
                <div style="margin-top: 10px;" *ngIf="fileName">
                    <div>
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                            [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="4/3"
                            [resizeToWidth]="500" [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false"
                            [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png"
                            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"></image-cropper>
                    </div>
                    <img [src]="croppedImage" style="max-width:100%;"
                        [style.border]="croppedImage ? '1px solid black' : 'none'" />
                </div>
            </div>
        </form>

        <div class="assign-shop-admins">
            <label>Assign Shop Admins</label>
            <p *ngIf="shopAdmins.length==0 && selectedShopAdminsList.length==0">
                No shop admins found. <a href="/admin/shop-admins">Create new shop admin</a>
            </p>
            <p *ngIf="shopAdmins.length==0 && selectedShopAdminsList.length>0">
                All shop admins assigned. <a href="/admin/shop-admins">Create new shop admin</a>
            </p>
            <select *ngIf="shopAdmins.length>0" class="browser-default custom-select form-control"
                (change)="assignShopAdmin()" id="shopId" [(ngModel)]="selectedShopAdmin">
                <option selected value="">Select option</option>
                <option *ngFor="let shopAdmin of shopAdmins" value="{{shopAdmin.id}}">
                    {{shopAdmin.name|titlecase}},&nbsp;{{shopAdmin.email}}
                </option>
            </select>

            <div *ngIf="selectedShopAdminsList.length>0">
                <label style="margin-top: 15px;">Assigned Shop Admins</label>
                <ul>
                    <li *ngFor="let shopAdmin of selectedShopAdminsList" value="{{shopAdmin.id}}">
                        {{shopAdmin.name|titlecase}},&nbsp;{{shopAdmin.email}} | <a
                            style="color: red; cursor: pointer;text-decoration: underline;"
                            (click)="unAssignShopAdmin(shopAdmin.id)">Remove</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="createShop()" *ngIf="isCreatingProcess"
                replaceText="Submitting" [spinnerButton]="isSubmitting">Submit</button>
            <button type="button" class="btn btn-success btn-link" (click)="updateShop()" *ngIf="!isCreatingProcess"
                replaceText="Updating" [spinnerButton]="isUpdating">Update</button>
        </div>
    </div>
</ng-template>