<div class="wrapper products-page">
    <div class="container-fluid">
        <div class="title row" style="margin-bottom:20px;">
            <div class="col-sm-6">
                <h2 class="page-title"><b>{{isAShopListingProduct? 'Shop listings' : 'Personal listings' }}</b></h2>
            </div>
            <div class="col-sm-6">
                <div class="card-normal" style="float:right;padding:0;">
                    <div class="buttons">
                        <button type="button" class="btn btn-outline-success btn-sm" style="width: 100%;"
                            (click)="openCreateModal(content)">ADD NEW PRODUCT</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isAShopListingProduct">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <form [formGroup]="productSearchForm">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <label>Name or description</label>
                                    <input class=" form-control" type="text" placeholder="Name or Description"
                                        formControlName="searchTerm">
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <label>Shop</label>
                                    <select class="browser-default custom-select form-control" formControlName="shopId"
                                        id="shopId">
                                        <option selected value="">Select option</option>
                                        <option *ngFor="let shop of shops" value="{{shop.id}}">
                                            {{shop.name|titlecase}},&nbsp;{{shop.city.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <!-- <input class="form-control" type="text" placeholder="Name or Description"> -->

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div style="display: block;">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-warning btn float-right" (click)="search()"
                            replaceText="Searching" [spinnerButton]="isSearching">Search</button>
                    </div>
                </div>
            </div>
            <div class="shops">
                <p *ngIf="totalCount>0" style="text-align: left;font-weight: bold;color: #f5593d;">
                    {{totalCount}} product(s) found.</p>
                <div class="table-responsive shadow">
                    <table class="table table-striped">
                        <thead class="shadow">
                            <tr>
                                <th>Name</th>
                                <th>Shop</th>
                                <th>Category</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Wholesale min. qty.</th>
                                <th>Wholesale price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="isLoading">
                                <td colspan="100%">Loading...</td>
                            </tr>
                            <tr *ngIf="!isLoading && products.length==0">
                                <td colspan="100%">No products found.</td>
                            </tr>
                            <ng-container *ngIf="!isLoading && products.length>0">
                                <tr *ngFor="let product of products">
                                    <td>{{product.name}}</td>
                                    <td>{{product.shop.name}}</td>
                                    <td>{{product.category_id==1?'Sell':'Rent'}}</td>
                                    <td>{{product.quantity|number}}</td>
                                    <td>{{product.category_id==1?product.sellable_item.retail_price:(product.rentable_item.price_per_month+'
                                        Per month')}}
                                    </td>
                                    <td>{{product.category_id==1?product.sellable_item.wholesale_minimum_quantity:''|number}}
                                    </td>
                                    <td>{{product.category_id==1?product.sellable_item.wholesale_price:''}}</td>
                                    <td>
                                        <span class="text text-warning pointer" title="Edit"
                                            (click)="openEditModal(content,product)"><i
                                                class="fa fa-2x fa-pencil-square-o"></i></span>
                                        <span class="text text-danger pointer ml-10" (click)="deleteItem(product.id)"
                                            title="Delete"><i class="fa fa-2x fa-trash-o"></i></span>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <ngb-pagination [collectionSize]="totalCount" [pageSize]="pageSize" [(page)]="page"
                        (pageChange)="paginate($event)" [rotate]="true"></ngb-pagination>
                </div>
            </div>
        </div>
        <div *ngIf="!isAShopListingProduct">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <form [formGroup]="productSearchForm">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <label>Name or description</label>
                                    <input class=" form-control" type="text" placeholder="Name or Description"
                                        formControlName="searchTerm">
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <!-- <input class="form-control" type="text" placeholder="Name or Description"> -->

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div style="display: block;">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-warning btn float-right" (click)="search()"
                            replaceText="Searching" [spinnerButton]="isSearching">Search</button>
                    </div>
                </div>
            </div>
            <div class="shops">
                <p *ngIf="totalCount>0" style="text-align: left;font-weight: bold;color: #f5593d;">
                    {{totalCount}} product(s) found.</p>
                <div class="table-responsive shadow">
                    <table class="table table-striped">
                        <thead class="shadow">
                            <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Wholesale min. qty.</th>
                                <th>Wholesale price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="isLoading">
                                <td colspan="100%">Loading...</td>
                            </tr>
                            <tr *ngIf="!isLoading && products.length==0">
                                <td colspan="100%">No products found.</td>
                            </tr>
                            <ng-container *ngIf="!isLoading && products.length>0">
                                <tr *ngFor="let product of products">
                                    <td>{{product.name}}</td>
                                    <td>{{product.category_id==1?'Sell':'Rent'}}</td>
                                    <td>{{product.quantity|number}}</td>
                                    <td>{{product.category_id==1?product.sellable_item.retail_price:(product.rentable_item.price_per_month+'
                                        Per month')}}
                                    </td>
                                    <td>{{product.category_id==1?product.sellable_item.wholesale_minimum_quantity:''|number}}
                                    </td>
                                    <td>{{product.category_id==1?product.sellable_item.wholesale_price:''}}</td>
                                    <td>
                                        <span class="text text-warning pointer" title="Edit"
                                            (click)="openEditModal(content,product)"><i
                                                class="fa fa-2x fa-pencil-square-o"></i></span>
                                        <span class="text text-danger pointer ml-10" (click)="deleteItem(product.id)"
                                            title="Delete"><i class="fa fa-2x fa-trash-o"></i></span>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <ngb-pagination [collectionSize]="totalCount" [pageSize]="pageSize" [(page)]="page"
                        (pageChange)="paginate($event)" [rotate]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-center" *ngIf="isCreatingProcess">Add new product</h5>
        <h5 class="modal-title text-center" *ngIf="!isCreatingProcess">Update product</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" *ngIf="errorMessages" [innerHtml]="errorMessages"></div>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <!-- <div class="form-group radio-group">
                <div class="form-control no-border" id="listingCategory">
                    <div class="row">
                        <div class="col-sm-5 radio">
                            <div class="form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input form-control" type="radio" [value]="true"
                                        [attr.disabled]="!isCreatingProcess?true: null" [(ngModel)]="isAShopListingProduct"
                                        (change)="onChangeListingMethod($event)" [ngModelOptions]="{standalone: true}">
                                    Shop listing
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6 radio">
                            <div class="form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input form-control" type="radio" [value]="false"
                                        [attr.disabled]="!isCreatingProcess?true: null" [(ngModel)]="isAShopListingProduct"
                                        [ngModelOptions]="{standalone: true}" (change)="onChangeListingMethod($event)">
                                    Personal listing
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="form-group" *ngIf="isAShopListingProduct==true && shops.length==0">
                No shops found. <a href="javascript:void(0)" class="text text-primary" (click)="addShop()">
                    Add a shop</a>
            </div>
            <div class="form-group" *ngIf="isAShopListingProduct==true && shops.length>0">
                <label>Select a Shop</label>
                <select class="browser-default custom-select form-control" formControlName="shopId" id="shopId">
                    <option selected disabled value="null">Select option</option>
                    <option *ngFor="let shop of shops" value="{{shop.id}}">
                        {{shop.name|titlecase}},&nbsp;{{shop.city.name}}
                    </option>
                </select>
            </div>
            <div *ngIf="isAShopListingProduct==false">
                <div class="form-group">
                    <label>Select location (Drag and drop the red marker <i style="color: red;"
                            class="fa fa-map-marker"></i> on your location)</label>
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                        [zoomControl]="true" [scrollwheel]="null" [gestureHandling]="'cooperative'"
                        (mapClick)="mapClicked($event)">
                        <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"
                            (dragEnd)="markerDragEnd($event)">
                        </agm-marker>
                    </agm-map>
                </div>
                <div class="form-group" [ngClass]="{'has-danger':isDistrictError}">
                    <label>District</label>
                    <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="districtName"
                        [ngModelOptions]="{standalone: true}" (selectItem)="selectedDistrict($event)"
                        [ngbTypeahead]="searchDistricts" (focus)="focus$.next($any($event).target.value)"
                        (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead"
                        (focusout)="focusOut($event)" />
                    <div class="form-control-feedback" *ngIf="isDistrictError">No district selected. Please
                        select one.
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-danger':isDistrictError}">
                    <label>City</label>
                    <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="cityName"
                        disabled="{{cities.length==0}}" [ngModelOptions]="{standalone: true}"
                        (selectItem)="selectedCity($event)" [ngbTypeahead]="searchCities"
                        (focus)="focusCities$.next($any($event).target.value)"
                        (click)="clickCities$.next($any($event).target.value)" #instance="ngbTypeahead"
                        (focusout)="focusOutCities($event)" />
                    <div class="form-control-feedback" *ngIf="isCityError">No city selected. Please select one.
                    </div>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" formControlName="address" id="address">
                </div>
            </div>
            <div class="form-group">
                <label>WhatsApp number <img src="../../../assets/img/WhatsApp.png" width="25">
                </label>
                <div class="flex">
                    +94&nbsp;
                    <div style="width: 100%;">
                        <input type="text" class="form-control" formControlName="phone" id="phone"
                            placeholder="Enter 9 digits phone number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Product name</label>
                <input type="text" ngbAutofocus class="form-control" formControlName="name" id="name">
            </div>
            <div class="form-group">
                <label>Active ingredients / Generic names</label>
                <table class="table table-striped ingredients" *ngIf="selectedActiveIngredients.length>0">
                    <tr *ngFor="let selectedActiveIngredient of selectedActiveIngredients">
                        <td>{{selectedActiveIngredient}}</td>
                        <td>
                            <a style="color: red; cursor: pointer;text-decoration: underline;"
                                (click)="removeActiveIngredient(selectedActiveIngredient)">Remove</a>
                        </td>
                    </tr>
                </table>
                <ng-select [items]="activeIngredients$ | async" [trackByFn]="trackByFn" [minTermLength]="minLengthTerm"
                    class="custom form-control browser-default" [loading]="activeIngredientsLoading"
                    typeToSearchText="Please enter {{minLengthTerm}} or more characters"
                    notFoundText="Not matching items found. Hit enter to create new one"
                    (change)="onChangeActiveIngredient($event)" [typeahead]="activeIngredientsInput$"
                    [(ngModel)]="selectedActiveIngredient" [ngModelOptions]="{standalone: true}"
                    (keydown.enter)="createNewActiveIngredient($event)">
                </ng-select>
            </div>
            <div class="form-group">
                <label>Brand</label>
                <table class="table table-striped ingredients" *ngIf="selectedBrand">
                    <tr>
                        <td>{{selectedBrand}}</td>
                        <td>
                            <a style="color: red; cursor: pointer;text-decoration: underline;"
                                (click)="removeBrand(selectedBrand)">Remove</a>
                        </td>
                    </tr>
                </table>
                <ng-select [items]="brands$ | async" [trackByFn]="trackByFn" [minTermLength]="minLengthTermBrand"
                    class="custom form-control browser-default" [loading]="brandsLoading"
                    typeToSearchText="Please enter {{minLengthTermBrand}} or more characters"
                    notFoundText="Not matching brand found. Hit enter to create new one"
                    (change)="onChangeBrand($event)" [typeahead]="brandInput$" [(ngModel)]="selectedBrand"
                    [ngModelOptions]="{standalone: true}" (keydown.enter)="createNewBrand($event)">
                </ng-select>
                <p *ngIf="!selectedBrand && isSubmitted" class="invalid-input">Required.</p>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea type="text" class="form-control" formControlName="description" id="description"
                    (keyup)="expandTextarea()"></textarea>
            </div>
            <div class="form-group radio-group">
                <div class="form-control no-border" id="pricingCategory">
                    <div class="row">
                        <div class="col-sm-2 radio">
                            <div class="form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input form-control" type="radio" value="sell"
                                        [(ngModel)]="pricingCategory" (change)="onChangePricingCategory()"
                                        [ngModelOptions]="{standalone: true}">
                                    Sell
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2 radio">
                            <div class="form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input form-control" type="radio" value="rent"
                                        [(ngModel)]="pricingCategory" [ngModelOptions]="{standalone: true}"
                                        (change)="onChangePricingCategory()">
                                    Rent
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-5 p-r-0">
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" step="0.01" ngbAutofocus class="form-control"
                                formControlName="quantity" id="quantity">
                        </div>
                    </div>
                    <div class="col-7 p-l-0">
                        <div class="form-group">
                            <label *ngIf="pricingCategory=='rent'">Price per month (per item)</label>
                            <label *ngIf="pricingCategory=='sell'">Retail Price (per item)</label>
                            <input type="number" step="0.01" class="form-control" formControlName="price" id="price">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" *ngIf="pricingCategory=='sell'">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [value]="true"
                            [(ngModel)]="isWholesalePricingEnabled" [ngModelOptions]="{standalone: true}"
                            (change)="onChangeWholesaleAvailability()">
                        Enable wholesale selling
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            </div>
            <div *ngIf="pricingCategory=='sell' && isWholesalePricingEnabled==1">
                <div class="form-group">
                    <div class="form-group">
                        <label>Minimum quantity for wholesale pricing</label>
                        <input type="number" step="0.01" ngbAutofocus class="form-control"
                            formControlName="min_quantity" id="min_quantity">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label>Wholesale price (per item)</label>
                        <input type="number" step="0.01" class="form-control" formControlName="wholesale_price"
                            id="wholesale_price">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Select main image for the product</label>
                <br>
                <input type="file" accept="image/*" (change)="fileChangeEvent($event)" />
                <br>
                <div style="margin-top: 10px;" *ngIf="fileName">
                    <div>
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                            [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="4/3"
                            [resizeToWidth]="500" [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false"
                            [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png"
                            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"></image-cropper>
                    </div>
                    <img *ngIf="croppedImage" [src]="croppedImage" style="max-width:100%;"
                        [style.border]="croppedImage ? '1px solid black' : 'none'"
                        style="margin-top:10px;width: 100%;" />
                </div>
                <div *ngIf="mainImage && !fileName">
                    <img [src]="mainImage" style="max-width:100%;" style="margin-top:10px;width: 100%;" />
                </div>
                <p *ngIf="!fileName && isSubmitted" class="invalid-input">Required.
                </p>
            </div>
            <div class="form-group">
                <label>Add sub images for the product. (Max 5 images)</label>
                <br>
                <input type="file" accept="image/*" (change)="fileChangeEventSubImage($event)" multiple />
                <br>
                <span class="text text-danger" [innerHtml]="showSubImagesError"></span>
                <div class="subImagesList" style="margin-top: 10px;">
                    <div class="" *ngFor="let image of subImagesListNew; let i = index">
                        <img [src]="image.data" width="200">
                        <span (click)="deleteSubImageNew(i)" title="Remove"><i class="fa fa-trash"></i></span>
                    </div>
                    <div class="" *ngFor="let image of subImagesList; let i = index">
                        <img [src]="imagePath+image.location" width="200">
                        <span (click)="deleteSubImage(i, image.id)" title="Remove"><i class="fa fa-trash"></i></span>
                    </div>
                </div>
            </div>
        </form>
        <div class="alert alert-primary form-error-alert " *ngIf="hasError && isSubmitted">
            Errors found in the form
        </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="createProduct()" *ngIf="isCreatingProcess"
                replaceText="Submitting" [spinnerButton]="isSubmitting">Submit</button>
            <button type="button" class="btn btn-success btn-link" (click)="updateProduct()" *ngIf="!isCreatingProcess"
                replaceText="Updating" [spinnerButton]="isUpdating">Update</button>
        </div>
    </div>
</ng-template>