.card-normal {
    cursor: pointer;
    padding: 10px !important;
    margin-bottom: 10px;
    position: relative;

    &:hover {
        background-color: #eee;
    }

    &.no-decorations:hover {
        background-color: #fff;
    }

    .img-thumbnail {
        box-shadow: none !important;
        max-height: 130px;
        padding: 0;
    }

}

.spinner-outer, .no-products {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.products {
    min-height: 300px;
    position: relative;
}

.product .product-title {
    font-weight: bold;
}

.input-img {
    position: absolute;
    right: 7px;
    bottom: 10px;
}

@media (max-width: 576px) {
    .product .product-title {
        margin-top: 15px;
    }
}