.card-normal {
    cursor: pointer;
    padding: 10px !important;
    margin-bottom: 10px;

    &:hover {
        background-color: #eee;
    }

    &.no-decorations:hover {
        background-color: #fff;
    }

    .img-thumbnail {
        box-shadow: none !important;
        max-height: 130px;
        padding: 0;
    }
}

.no-products {
    text-align: center;
    margin-top: 200px;
}

.product .product-title {
    font-weight: bold;
}

.input-img {
    position: absolute;
    right: 7px;
    bottom: 10px;
}

@media (max-width: 576px) {
    .product .product-title {
        margin-top: 15px;
    }
}