<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-normal no-decorations" style="min-height: 200px;">
                    <div class="spinner-outer" *ngIf="isLoadingPage">
                        <img src="../../../assets/img/spinner.gif" width="100">
                    </div>
                    <div *ngIf="!isLoadingPage">
                        <h3>Search products</h3>
                        <form [formGroup]="searchForm" (ngSubmit)="onClickSearch()">
                            <div class="form-group">
                                <label class="form-check-label">Product name</label>
                                <input type="text" class="form-control" formControlName="searchTerm" id="searchTerm"
                                    placeholder="Item name">
                                <img src="../../../assets/img/close.png" width="20" class="input-img"
                                    (click)="clearSearchTerm()">
                            </div>
                            <div class="form-group">
                                <label class="form-check-label">District</label>
                                <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="districtName"
                                    [ngModelOptions]="{standalone: true}" (selectItem)="selectedDistrict($event)"
                                    [ngbTypeahead]="searchDistricts" (focus)="focus$.next($any($event).target.value)"
                                    (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead" />
                                <img src="../../../assets/img/close.png" width="20" class="input-img"
                                    (click)="clearDistrict()">
                            </div>
                            <div class="form-group">
                                <label class="form-check-label">City</label>
                                <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="cityName"
                                    disabled="{{cities.length==0}}" [ngModelOptions]="{standalone: true}"
                                    (selectItem)="selectedCity($event)" [ngbTypeahead]="searchCities"
                                    (focus)="focusCities$.next($any($event).target.value)"
                                    (click)="clickCities$.next($any($event).target.value)" #instance="ngbTypeahead" />
                                <img src="../../../assets/img/close.png" width="20" class="input-img"
                                    (click)="clearCity()">
                            </div>
                            <button class="btn btn-outline-success btn-sm">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="products">
                    <div class="spinner-outer" *ngIf="isLoading">
                        <img src="../../../assets/img/spinner.gif" width="100">
                    </div>
                    <div *ngIf="!isLoading && products.length>0">
                        <p>{{products.length}} item(s) found.</p>
                        <ng-container *ngFor="let product of products">
                            <div class="card-normal product" [routerLink]="['/products',product.slug]">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img width="170" [src]="product.image_url" alt="product Image"
                                            class="img-thumbnail img-responsive">
                                    </div>
                                    <div class="col-sm-8">
                                        <p class="product-title"><b>{{product.name|titlecase}}</b></p>
                                        <p *ngIf="product.category_id==1">{{product.shop.name|titlecase}}</p>
                                        <p>{{product.shop.address|titlecase}}, {{product.shop.city.name|titlecase}}</p>
                                        <p class="price">Rs.
                                            {{product.category_id==1?(product.sellable_item.retail_price|currency:'':''):((product.rentable_item.price_per_month|currency:'':'')+'
                                            Per month')}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <div class="pagination">
                            <ngb-pagination [collectionSize]="totalCount" [pageSize]="pageSize" [(page)]="page"
                                (pageChange)="paginate($event)" [rotate]="true"></ngb-pagination>
                        </div>
                    </div>
                    <div class="no-products" *ngIf="!isLoading && products.length==0">
                        <p>Sorry, there're no items found for your search.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>