<div class="wrapper">
    <div class="container cart">
        <div class="row">
            <div class="col-sm-12">
                <form [formGroup]="orderSearchForm">
                    <div class="form-group radio-group">
                        <div class="form-control no-border" id="listingCategory">
                            <div class="row">
                                <div class="col-sm-3 radio">
                                    <div class="form-check-radio">
                                        <label class="form-check-label">
                                            <input class="form-check-input form-control" type="radio"
                                                value="un-collected" formControlName="orderStatus">
                                            Not collected orders
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 radio">
                                    <div class="form-check-radio">
                                        <label class="form-check-label">
                                            <input class="form-check-input form-control" type="radio" value="collected"
                                                formControlName="orderStatus">
                                            Collected orders
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 radio">
                                    <div class="form-check-radio">
                                        <label class="form-check-label">
                                            <input class="form-check-input form-control" type="radio" value="cancelled"
                                                formControlName="orderStatus">
                                            Cancelled orders
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <label>Product name</label>
                            <div class="form-group">
                                <input class="form-control" name="dp" formControlName="productName" />
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <label>Date from</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dateFrom"
                                    ngbDatepicker #dp="ngbDatepicker" [ngModelOptions]="{standalone: true}" />
                                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()"
                                    type="button"></button>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <label>Date to</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dateTo"
                                    ngbDatepicker #d="ngbDatepicker" [ngModelOptions]="{standalone: true}" />
                                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                                    type="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <br>
                            <button type="button" class="btn btn-warning btn float-right" (click)="fetchOrders()"
                                replaceText="Searching" [spinnerButton]="isSearching">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>
        <p>Results between <b>{{params.date_from+' 12AM'}}</b> to <b>{{params.date_to+' 11.59PM'}}</b></p>
        <br>

        <div class="row" *ngIf="orderItems.shops.length == 0 && orderItems.users.length == 0">
            <div class="col-md-12">
                <h3>No orders found.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-normal no-decorations mb-40" *ngFor="let shop of orderItems.shops">
                    <div class="row">
                        <div class="col-md-6">
                            <h4><b>{{shop.name}}</b></h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="tel:{{shop.phone}}">{{shop.phone}}</a>
                            <p>{{shop.address}}</p>
                            <a href="https://www.google.com/maps/dir/{{shop.latitude}},{{shop.longitude}}"
                                target="_blank">
                                <button type="button" class="btn btn-outline-info btn-sm">
                                    Open item location in Google map
                                </button>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div *ngFor="let orderItem of shop.orderItems">
                        <div class="card-normal no-decorations" [ngClass]="{'item_due ': orderItem.isDue}">
                            <div class="row product">
                                <div class="col-md-9">
                                    <h4>{{orderItem.name}}</h4>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-default btn-sm" *ngIf="orderItem.status == 2"
                                        style="width: 100%;margin-bottom:2px" #renewOrderModal
                                        (click)="openOrderItemRenewModal(contentRenew, orderItem)">
                                        Renew order
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm"
                                        *ngIf="orderItem.status == 2 && orderItem.duration !=null"
                                        style="width: 100%;margin-bottom:2px" #reviewOrderModal
                                        (click)="openOrderItemReviewModal(contentReview, orderItem)">
                                        Leave a review
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" *ngIf="orderItem.status == 1"
                                        style="width: 100%;margin-bottom:2px" #renewOrderModal
                                        (click)="openOrderItemCancelModal(contentCancel, orderItem)">
                                        Cancel order
                                    </button>
                                </div>
                            </div>
                            <div class="row product">
                                <div class="col-md-3">
                                    <div style="background-image: url('{{imagePath + orderItem.location}}');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            width: 100%;height: 100px;">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <p>Quantity: {{orderItem.quantity}}</p>
                                    <p class="price" *ngIf="orderItem.duration">
                                        Paid:
                                        {{orderItem.quantity * orderItem.price * orderItem.duration| currency:"Rs."}}
                                    </p>
                                    <p class="price" *ngIf="!orderItem.duration">
                                        Paid: {{orderItem.quantity * orderItem.price| currency:"Rs. "}}</p>
                                    <p *ngIf="orderItem.duration">Duration: {{orderItem.duration}} month(s)</p>
                                    <p *ngIf="orderItem.duration" [ngClass]="{'bold ': orderItem.isDue}">
                                        Due date: {{orderItem.dueDate | date: 'yyyy MMMM dd hh.mm a'}}
                                    </p>
                                    <p *ngIf="orderItem.note"><b>Note:</b> {{orderItem.note}}</p>
                                </div>
                                <div class="col-md-4">
                                    <b>Order Id:</b> {{orderItem.id}}
                                    <br>
                                    <b>Order date:</b> {{orderItem.order_created_at | date: 'yyyy/MM/dd hh.mm a' }}
                                    <div *ngIf="orderItem.collected_at">
                                        <b>Collected date:</b> {{orderItem.collected_at | date: 'yyyy MMMM dd hh.mm a'
                                        }}
                                    </div>
                                    <div *ngIf="orderItem.cancelled_at">
                                        <b>Cancelled date:</b> {{orderItem.cancelled_at | date: 'yyyy MMMM dd hh.mm a'
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-normal no-decorations mb-40" *ngFor="let user of orderItems.users">
                    <div class="row">
                        <div class="col-md-6">
                            <h4><b>{{user.name}}</b></h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="tel:{{user.phone}}">{{user.phone}}</a>
                        </div>
                    </div>
                    <br>
                    <div *ngFor="let orderItem of user.orderItems">
                        <div class="card-normal no-decorations" [ngClass]="{'item_due ': orderItem.isDue}">
                            <div class="row product">
                                <div class="col-md-9">
                                    <h4>{{orderItem.name}}</h4>
                                </div>
                                <div class="col-md-3 text-right">
                                    <button type="button" class="btn btn-default btn-sm"
                                        *ngIf="orderItem.status == 2 && orderItem.duration !=null"
                                        style="width: 100%;margin-bottom:2px" #renewOrderModal
                                        (click)="openOrderItemRenewModal(contentRenew, orderItem)">
                                        Renew order
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm" *ngIf="orderItem.status == 2"
                                        style="width: 100%;margin-bottom:2px" #reviewOrderModal
                                        (click)="openOrderItemReviewModal(contentReview, orderItem)">
                                        Leave a review
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" *ngIf="orderItem.status == 1"
                                        style="width: 100%;margin-bottom:2px" #renewOrderModal
                                        (click)="openOrderItemCancelModal(contentCancel, orderItem)">
                                        Cancel order
                                    </button>
                                </div>
                            </div>
                            <div class="row product">
                                <div class="col-md-3">
                                    <div style="background-image: url('{{imagePath + orderItem.location}}');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            width: 100%;height: 120px;">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <p>Quantity: {{orderItem.quantity}}</p>
                                    <p class="price" *ngIf="orderItem.duration">
                                        {{orderItem.quantity * orderItem.price *orderItem.duration| currency:"Rs. "}}
                                    </p>
                                    <p class="price" *ngIf="!orderItem.duration">
                                        {{orderItem.quantity * orderItem.price | currency:"Rs. "}}
                                    </p>
                                    <p *ngIf="orderItem.duration">Duration: {{orderItem.duration}} month(s)</p>
                                    <p *ngIf="orderItem.duration" [ngClass]="{'bold ': orderItem.isDue}">
                                        Due date: {{orderItem.dueDate | date: 'yyyy MMMM dd hh.mm a'}}
                                    </p>
                                    <p *ngIf="orderItem.note"><b>Note:</b> {{orderItem.note}}</p>
                                </div>
                                <div class="col-md-5">
                                    <b>Order Id:</b> {{orderItem.id}}
                                    <br>
                                    <b>Order date:</b> {{orderItem.order_created_at | date: 'yyyy MMMM dd hh.mm a' }}
                                    <br>
                                    <div *ngIf="orderItem.collected_at">
                                        <b>Collected date:</b> {{orderItem.collected_at | date: 'yyyy MMMM dd hh.mm a'
                                        }}
                                        <br>
                                    </div>
                                    <div *ngIf="orderItem.cancelled_at">
                                        <b>Cancelled date:</b> {{orderItem.cancelled_at | date: 'yyyy MMMM dd hh.mm a'
                                        }}
                                        <br>
                                    </div>
                                    <a href="tel:{{orderItem.phone}}">{{orderItem.phone}}</a>
                                    <p>{{orderItem.address}}</p>
                                    <a href="https://www.google.com/maps/dir/{{orderItem.latitude}},{{orderItem.longitude}}"
                                        target="_blank">
                                        <button type="button" class="btn btn-outline-info btn-sm">
                                            Open item location in Google map
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #contentRenew let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-center">Renew order</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <div style="background-image: url('{{imagePath + selectedOrderItem.location}}');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            width: 100%;height: 100px;">
                </div>
            </div>
            <div class="col-sm-8">
                <p class="price">{{selectedOrderItem.quantity * selectedOrderItem.price| currency:"Rs. "}}</p>
                <p *ngIf="selectedOrderItem.duration">Duration: {{selectedOrderItem.duration}} month(s)</p>
                <p *ngIf="selectedOrderItem.duration" [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Order No: {{selectedOrderItem.id}}
                </p>
                <p *ngIf="selectedOrderItem.duration" [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Order date: {{selectedOrderItem.order_created_at | date: 'yyyy MMMM dd hh.mm a'}}
                </p>
                <p *ngIf="selectedOrderItem.duration" [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Due date: {{selectedOrderItem.dueDate | date: 'yyyy MMMM dd hh.mm a'}}
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="quantity-selector">
                    Duration(months)
                    &nbsp;&nbsp;&nbsp;
                    <div class="value-button" id="decrease" (click)="decreaseValueDuration()" value="Decrease Value">-
                    </div>
                    <input type="number" min="1" step="1" id="number" max="24" [(ngModel)]="duration" />
                    <div class="value-button" id="increase" (click)="increaseValueDuration()" value="Increase Value">+
                    </div>
                </div>
            </div>
        </div>
        <br>
        <b>Total:&nbsp;</b>
        <span class="price">{{duration * selectedOrderItem.price| currency:"Rs. "}}</span>
        <br><br>
        <p>You can keep this item until <b>{{dueDate | date: 'yyyy MMMM dd'}}</b></p>
    </div>
    <div class="modal-footer text-center">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" #openPaymentModalId
                (click)="openPaymentModal(content)">Renew</button>
        </div>
    </div>
</ng-template>
<ng-template #contentCancel let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-center">Cancel order</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <div style="background-image: url('{{imagePath + selectedOrderItem.location}}');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            width: 100%;height: 100px;">
                </div>
            </div>
            <div class="col-sm-8">
                <p class="price">Price: {{selectedOrderItem.price| currency:"Rs. "}}</p>
                <p class="quantity">Quantity: {{selectedOrderItem.quantity}}</p>
                <p *ngIf="selectedOrderItem.duration">Duration: {{selectedOrderItem.duration}} month(s)</p>
                <p [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Order No: {{selectedOrderItem.id}}
                </p>
                <p [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Order date: {{selectedOrderItem.order_created_at | date: 'yyyy MMMM dd hh.mm a'}}
                </p>
                <p *ngIf="selectedOrderItem.duration" [ngClass]="{'bold':selectedOrderItem.isDue}">
                    Due date: {{selectedOrderItem.dueDate | date: 'yyyy MMMM dd hh.mm a'}}
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <p class="price">
                    Paid amount: {{(selectedOrderItem.duration ? selectedOrderItem.duration * selectedOrderItem.price :
                    selectedOrderItem.quantity * selectedOrderItem.price)| currency:"Rs. "}}
                </p>
                <p>
                    <b>
                        After cancelling the order, it will take 5-10 business days to trasfer the money back to your
                        account. Contact admin if it doesn't transfer to your account.
                    </b>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">Close</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="submit" class="btn btn-success btn-link" replaceText="Processing" (click)="cancelOrder()"
                [spinnerButton]="isProcessing">Cancel order</button>
        </div>
    </div>
</ng-template>
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-center">Pay now</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="card-element"></div>
        <div id="card-errors" role="alert"></div>
        <img src="../../../assets/img/payment-logo.png" width="250">
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="submit" class="btn btn-success btn-link" replaceText="Processing" (click)="payNow()"
                [spinnerButton]="isProcessing">Pay</button>
        </div>
    </div>
</ng-template>
<ng-template #contentReview let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-center">Leave your thoughts</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><b>Your review will be shown to the public under this product.</b></p>
        <br>
        <form [formGroup]="reviewForm">
            <div class="form-group flex" *ngIf="selectedOrderItem.review">
                <label>Previously rated:</label>
                <p style="margin-left: 20px;">{{selectedOrderItem.review.rating}} stars</p>
            </div>
            <div class="form-group flex">
                <label>Rate the product {{selectedOrderItem.review?'again':''}}:</label>
                <fieldset class="rating" style="margin-left: 20px;">
                    <input type="radio" id="star5" name="rating" value="5" formControlName="rating" />
                    <label for="star5">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" formControlName="rating" />
                    <label for="star4">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" formControlName="rating" />
                    <label for="star3">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" formControlName="rating" />
                    <label for="star2">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" formControlName="rating" />
                    <label for="star1">1 star</label>
                </fieldset>
            </div>
            <p *ngIf="isSubmitted && reviewForm.status == 'INVALID' && reviewForm.controls.rating.errors.required"
                class="form-error">
                Please rate the item.</p>
            <label>Leave a comment:</label>
            <textarea class="form-control" formControlName="comment" rows="4"
                placeholder="Tell us your thoughts and feelings..."></textarea>
        </form>
        <br>
        <div class="row" *ngIf="selectedOrderItem.review">
            <div class="col-md-6 offset-6">
                <button type="button" class="btn btn-danger btn-sm" style="width: 100%;margin-bottom:2px"
                    (click)="openOrderItemReviewClearModal(selectedOrderItem.review.id)">
                    Delete my review
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer text-center">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" replaceText="Processing"
                [spinnerButton]="isProcessing" (click)="submitReview(content)">Submit</button>
        </div>
    </div>
</ng-template>