.quantity-selector {
    display: flex;
    align-items: center;
}

.quantity-selector .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    padding: 0;
    line-height: 40px;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.quantity-selector .value-button:hover {
    cursor: pointer;
}

.quantity-selector #decrease {
    border-radius: 8px 0 0 8px;
    line-height: 35px;
}

.quantity-selector #increase {
    border-radius: 0 8px 8px 0;
}

.quantity-selector #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0;
    width: 70px;
    height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input#number:focus-visible {
    outline: none;
}

@import "~bootstrap-icons/font/bootstrap-icons.css";

.shop.disabled {
    pointer-events: none;
    opacity: 0.4;
}

button.bi.bi-calendar3 {
    background-color: lightslategrey;
    border: none;
}

// rating
.rating {
    float: left;
    border: none;
}

.rating:not(:checked)>input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked)>label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
}

.rating:not(:checked)>label:before {
    content: '★ ';
}

.rating>input:checked~label,
.rating-view>input:checked~label {
    color: #f70;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: gold;
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #ea0;
}

.rating>label:active {
    position: relative;
}

.status-label {
    font-size: 10px;
    padding: 3px;
    border-radius: 3px;
    line-height: 1;
    float: right;
    margin-bottom: 5px;

    &.not-collected {
        background: greenyellow;
    }

    &.collected {
        background: skyblue;
    }

    &.cancelled {
        background: coral;
    }
}

.btn-review {
    width: 100%;
    margin-bottom: 2px;
    background-color: greenyellow;
    border: greenyellow;

    &:hover {
        background-color: #7acc00;
    }
}