<nav class="navbar navbar-expand-lg fixed-top top" color-on-scroll="500" id="navBarDiv">
    <div class="container">
        <div class="navbar-translate">
            <a routerLink="/"> <img src="assets/img/logo-big.png" width="200px" class="navbar-brand"></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isLoggedInUser">
                    <a routerLink="/login" class="nav-link"> Login</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedInUser">
                    <a routerLink="/signup" class="nav-link"> Register</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedInUser">
                    <a routerLink="/my-shops" class="nav-link">
                        <i class="nc-icon nc-shop"></i> My Shops</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedInUser">
                    <a routerLink="/my-products" class="nav-link">
                        <i class="nc-icon nc-tile-56"></i> My Products</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedInUser">
                    <a routerLink="/my-shops" class="nav-link">
                        <i class="nc-icon nc-globe"></i> Sell Now</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedInUser">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                            <i class="nc-icon nc-circle-10"></i> My Account
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a class="dropdown-item">Update profile</a>
                            <a class="dropdown-item">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>