
.navbar .navbar-nav .dropdown-menu {
    margin-top: -20px;
}

li {
    cursor: pointer;
    i {
        top: 2px !important;
    }
}

.navbar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.top{
    box-shadow: none !important;    
}