<nav class="navbar navbar-expand-lg fixed-top top" color-on-scroll="500" id="navBarDiv">
    <div class="container">
        <div class="navbar-translate">
            <a routerLink="/"> <img src="assets/img/logo-big.png" width="200px" class="navbar-brand"></a>
            <a routerLink="/cart" class="nav-link cart" title="Cart" *ngIf="onMobile">
                <i class="nc-icon nc-cart-simple"></i>
                <span *ngIf="cartCount > 0">{{cartCount}}</span>
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <div *ngIf="!sidebarVisible">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </div>
                <span *ngIf="sidebarVisible" class="nc-icon nc-simple-remove"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isLoggedInUser">
                    <a (click)="openPath('/login')" class="nav-link"> Login</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedInUser">
                    <a (click)="openPath('/signup')" class="nav-link"> Register</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedInUser">
                    <a (click)="openPath('/admin/login')" class="nav-link">
                        <i class="nc-icon nc-globe"></i> Sell Now</a>
                </li>

                <!-- customer only pages -->
                <li class="nav-item" *ngIf="isLoggedInUser && isCustomer">
                    <a routerLink="/my-orders" class="nav-link">
                        <i class="nc-icon nc-app"></i> My Orders</a>
                </li>
                <!-- end - customer only pages  -->

                <!-- admin only pages -->
                <li class="nav-item" *ngIf="isLoggedInUser && (isAdmin || isShopAdmin)">
                    <a routerLink="/admin/orders" class="nav-link">
                        <i class="nc-icon nc-app"></i> My Orders</a>
                </li>
                <li class="nav-item"
                    *ngIf="isLoggedInUser && (isAdmin || isShopAdmin) && accountType != isAccTypePersonal">
                    <a routerLink="/admin/shops" class="nav-link">
                        <i class="nc-icon nc-shop"></i> My Shops</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedInUser && (isAdmin || isShopAdmin)">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                            <i class="nc-icon nc-tile-56"></i> My products
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a href="/admin/products?type=shop" class="dropdown-item"
                                *ngIf="accountType != isAccTypePersonal">
                                Shop listings
                            </a>
                            <!-- shop admin cannot add personal listings  -->
                            <a *ngIf="isAdmin && accountType != isAccTypeShop" href="/admin/products?type=personal"
                                class="dropdown-item">
                                Personal listings
                            </a>
                        </div>
                    </div>
                </li>

                <li class="nav-item" *ngIf="isLoggedInUser && isAdmin && accountType != isAccTypePersonal">
                    <a routerLink="/admin/shop-admins" class="nav-link">
                        <i class="nc-icon nc-user-run"></i> Shop Admins</a>
                </li>
                <!-- end - admin only pages -->

                <li class="nav-item cart" *ngIf="!onMobile">
                    <a routerLink="/cart" class="nav-link cart-item" title="Cart">
                        <i class="nc-icon nc-cart-simple"></i>
                        <span *ngIf="cartCount > 0">{{cartCount}}</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="isLoggedInUser">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                            <i class="nc-icon nc-circle-10"></i> My Account
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a class="dropdown-item">Update profile</a>
                            <a class="dropdown-item" (click)="logout()">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>