.card-normal {
    cursor: pointer;
    padding: 10px !important;
    margin-bottom: 10px;

    &:hover {
        background-color: #eee;
    }
    .img-thumbnail {
        box-shadow: none !important;
        max-height: 130px;
    }

    .price {
        color: rgb(0, 212, 162);
        font-weight: bold;
    }
}
agm-map {
    height: 300px;
}
