<div class="wrapper">
    <div class="container-fluid">
        <div class="title row" style="margin-bottom:20px;">
            <div class="col-sm-6">
                <h2 class="page-title"><b>Page not found.</b></h2>
                <p>Seems you're lost. Please try one of following pages...</p>
                <ul>
                    <li><u><a href="/">Homepage</a></u></li>
                    <li><u><a href="/login">Customer login</a></u></li>
                    <li><u><a href="/admin/login">Admin login</a></u></li>
                </ul>
            </div>
        </div>
    </div>
</div>