.background{
    background-image: url("src/assets/images/front.jpeg");
    background-size: cover;
    height: 100vh;
}

.card{
    margin-top: 15vh;
}

@media (min-width:768px){
    .column{
        margin-left: 100px;
    }
    .card{
        margin-top: 20vh;
    }
}