<div class="wrapper">
    <div class="container cart">
        <div class="container">
            <div class="title row" style="margin-bottom:20px;">
                <div class="col-sm-6">
                    <h2 class="page-title"><b>Profile</b></h2>
                </div>
            </div>
            <div class="card-normal" style="padding:20px;">
                <h3>Persoanl</h3>
                <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Email</label>
                            <div class="input-group form-group-no-border"
                                [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                </div>
                                <input type="text" id="email" class="form-control" placeholder="Email" [disabled]="true"
                                    [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                            </div>
                            <label>Name</label>
                            <div class="input-group form-group-no-border"
                                [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-badge"></i>
                                    </span>
                                </div>
                                <input type="text" id="name" class="form-control" placeholder="Name"
                                    (focus)="focus=true" (blur)="focus=false" formControlName="name">
                            </div>
                            <div *ngIf="isSubmitted && userProfileForm.controls.name.errors">
                                <p *ngIf="userProfileForm.controls.name.errors.required" class="form-error">
                                    Required</p>
                            </div>
                            <label>WhatsApp<img src="../../../assets/img/WhatsApp.png" width="25"> or phone number
                                <p class="font-s-10 font-bold">(Enter 9 numbers without 0. Ex: 710422547)</p>
                            </label>
                            <div class="flex">
                                +94&nbsp;
                                <div style="width: 100%;">
                                    <input type="text" class="form-control" formControlName="phone" id="phone"
                                        placeholder="Enter 9 digits phone number">
                                </div>
                            </div>
                            <div *ngIf="isSubmitted && userProfileForm.controls.phone.errors">
                                <p *ngIf="userProfileForm.controls.phone.errors.required" class="form-error">
                                    Required</p>
                                <p *ngIf="!userProfileForm.controls.phone.errors.required && !userProfileForm.controls.phone.errors.pattern"
                                    class="form-error">
                                    Phone number format invalid</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Password</label>
                            <div class="input-group form-group-no-border"
                                [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" placeholder="Password" (focus)="focus1=true"
                                    (blur)="focus1=false" formControlName="password">
                            </div>
                            <label>Confirm Password</label>
                            <div class="input-group form-group-no-border"
                                [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" placeholder="Confirm Password"
                                    (focus)="focus1=true" (blur)="focus1=false" formControlName="confirmPassword">
                            </div>
                            <p *ngIf="isSubmitted && userProfileForm.errors && userProfileForm.errors.notSame"
                                class="form-error">
                                Password does not match</p>
                            <button type="submit" class="btn btn-success btn-round" replaceText="Processing"
                                [spinnerButton]="submitting">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <div class="card-normal" style="padding:20px;" *ngIf="!isCustomer">
                <h3>Payments</h3>
                <form [formGroup]="paymentsForm" (ngSubmit)="onSubmitBanks()"
                    style="position: relative; padding-bottom: 50px;">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Bank</label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-money-coins"></i>
                                        </span>
                                    </div>
                                    <ng-select class="custom form-control browser-default" [items]="banks"
                                        bindLabel="name" (change)="onChangeBank($event)" [(ngModel)]="selectedBank"
                                        [ngModelOptions]="{standalone: true}">
                                    </ng-select>
                                </div>
                                <div *ngIf="isSubmittedBanks && !selectedBank">
                                    <p class="form-error">Required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Branch name</label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-badge"></i>
                                        </span>
                                    </div>
                                    <input type="text" id="branch" class="form-control" placeholder="Branch name"
                                        (focus)="focus=true" (blur)="focus=false" formControlName="branch">
                                </div>
                                <div *ngIf="isSubmittedBanks && paymentsForm.controls.branch.errors">
                                    <p *ngIf="paymentsForm.controls.branch.errors.required" class="form-error">
                                        Required</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Account number</label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-credit-card"></i>
                                        </span>
                                    </div>
                                    <input type="text" id="accountNumber" class="form-control"
                                        placeholder="Account number" (focus)="focus=true" (blur)="focus=false"
                                        formControlName="accountNumber">
                                </div>
                                <div *ngIf="isSubmittedBanks && paymentsForm.controls.accountNumber.errors">
                                    <p *ngIf="paymentsForm.controls.accountNumber.errors.required" class="form-error">
                                        Required</p>
                                    <p *ngIf="paymentsForm.controls.accountNumber.errors.pattern" class="form-error">
                                        Enter numbers only</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Account name</label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-caps-small"></i>
                                        </span>
                                    </div>
                                    <input type="text" id="accountName" class="form-control" placeholder="Account name"
                                        (focus)="focus=true" (blur)="focus=false" formControlName="accountName">
                                </div>
                                <div *ngIf="isSubmittedBanks && paymentsForm.controls.accountName.errors">
                                    <p *ngIf="paymentsForm.controls.accountName.errors.required" class="form-error">
                                        Required</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-round" replaceText="Processing" style="right: 0;"
                        [spinnerButton]="submittingBanks">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>