.card, input, .btn{
    border-radius: 0 !important;
}

//validation error style
.invalid-input {
    text-align: right;
    font-size: 12px;
    margin: 0;
    color: #dd4b39;
}
  
.validation-error-border {
    border: 1px solid #dd4b39;
}
// endvalidation error style
