<div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                <div class="card card-register card-admin">
                    <div class="text-center" style="background-color: white;border-radius:8px;">
                        <a href="/"><img src="assets/img/logo-big.png" width="200px"></a>
                    </div>
                    <br>
                    <h3 class="title" style="margin-top: 10px; font-weight: bold;color: white;">Welcome</h3>
                    <p>By signup as an admin, you can add your shop details and sell your items.</p>
                    <div class="row" *ngIf="errorsList.length>0">
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="alert alert-primary"
                                style="background-color: white;color: red;font-weight: bold;"
                                *ngFor="let error of errorsList;index as i">{{error }}
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                        <label>Name</label>
                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-badge"></i>
                                </span>
                            </div>
                            <input type="text" id="name" class="form-control" placeholder="Name" (focus)="focus=true"
                                (blur)="focus=false" formControlName="name">
                        </div>
                        <div *ngIf="isSubmitted && signUpForm.controls.name.errors">
                            <p *ngIf="signUpForm.controls.name.errors.required" class="form-error">
                                Required</p>
                        </div>
                        <label>WhatsApp number <img src="../../../assets/img/WhatsApp.png" width="25">
                            <p class="font-s-10">(Enter 9 numbers without 0. Ex: 710422547)</p>
                        </label>
                        <div class="flex">
                            +94&nbsp;
                            <div style="width: 100%;">
                                <input type="text" class="form-control" formControlName="phone" id="phone"
                                    placeholder="Enter 9 digits phone number">
                            </div>
                        </div>
                        <div *ngIf="isSubmitted && signUpForm.controls.phone.errors">
                            <p *ngIf="signUpForm.controls.phone.errors.required" class="form-error">
                                Required</p>
                            <p *ngIf="!signUpForm.controls.phone.errors.pattern" class="form-error">
                                Phone number format invalid</p>
                        </div>

                        <div class="form-group margin-b-0">
                            <label class="flex">
                                Account type
                                <i #accountHelpModal (click)="openAccountHelpModal(content)"
                                    title="Click here to show more details" class="pointer nc-icon nc-alert-circle-i"
                                    style="margin-left:5px"></i>
                            </label>
                            <div class="flex" formGroupName="accountType">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="shop"
                                            formControlName="shop">
                                        Shop
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check margin-left-30">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="personal"
                                            formControlName="personal">
                                        Personal
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="isSubmitted && accountTypeValidationError">
                                <p class="form-error">Please select at least one account type</p>
                            </div>
                        </div>
                        <label>Email</label>
                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-email-85"></i>
                                </span>
                            </div>
                            <input type="text" id="email" class="form-control" placeholder="Email" (focus)="focus=true"
                                (blur)="focus=false" formControlName="email">
                        </div>
                        <div *ngIf="isSubmitted && signUpForm.controls.email.errors">
                            <p *ngIf="signUpForm.controls.email.errors.required" class="form-error">
                                Required</p>
                            <p *ngIf="signUpForm.controls.email.errors.email" class="form-error">
                                Should be a valid Email</p>
                        </div>

                        <label>Password</label>
                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-key-25"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" placeholder="Password" (focus)="focus1=true"
                                (blur)="focus1=false" formControlName="password">
                        </div>
                        <div *ngIf="isSubmitted && signUpForm.controls.password.errors">
                            <p *ngIf="signUpForm.controls.password.errors.required" class="form-error">Required</p>
                        </div>

                        <label>Confirm Password</label>
                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-key-25"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" placeholder="Confirm Password"
                                (focus)="focus1=true" (blur)="focus1=false" formControlName="confirmPassword">
                        </div>
                        <div *ngIf="isSubmitted && signUpForm.controls.confirmPassword.errors">
                            <p *ngIf="signUpForm.controls.confirmPassword.errors.required" class="form-error">Required
                            </p>
                        </div>
                        <p *ngIf="isSubmitted && signUpForm.errors && signUpForm.errors.notSame" class="form-error">
                            Password does not match</p>
                        <button type="submit" class="btn btn-warning btn-block btn-round" replaceText="Processing"
                            [spinnerButton]="submitting">Register</button>
                    </form>
                    <div class="forgot">
                        <a href="/admin/login" class="btn btn-link btn-warning">Login as an admin -></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-center">Account Type</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul>
            <li>
                <b>Shop:</b> If your purpose is to list your shop items, you can use "Shop" account type.
            </li>
            <li>
                <b>Personal:</b> If you only have personal items to list, use "Personal" account type.
            </li>
        </ul>
        <p>Note: If you wish to list both Shop items and personal items, please select both account types.</p>
    </div>
    <div class="modal-footer text-center" style="display: inline-block;">
        <div class="">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close()">OK</button>
        </div>
    </div>
</ng-template>