.wrapper {
    margin-top: 100px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    margin-top: 0;
    margin-bottom: 20px;
}
.img-thumbnail {
    margin-bottom: 0;
}
.card-normal {
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    border: 1px solid #eee;
    padding: 20px;
    z-index: 1;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}
.form-control + .form-control-feedback {
    position: relative;
}
.margin-b-0 {
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .modal-body {
        padding: 20px 20px;
    }
}
